<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cinemate</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <!-- <link rel="stylesheet" href="/static/stylesheets/style.css"> -->
  <link rel="stylesheet" href="/static/stylesheets/app.css">
  <link rel="shortcut icon" href="/static/images/movie_logo_WDY_icon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">

  <header>
    <div>
      <a href="/" class="">
        <img src="/static/images/movie-logo.jpg" alt="logo">
        <span>Cinemate</span>
      </a>
    </div>

    {% if not g.user %}
    <div>
      <a href="/signup" class="">Sign up</a>
      <a href="/login" class="">Log in</a>
    </div>
    {% else %}
    
    <div>
      <form class="" action="/movie">
        <input name="s" class="" placeholder="Search Cinemate" id="search">
        <button class="">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </div>
    
    <div>
      <a href="/user/{{ g.user.username }}">
        <img class="profile" src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
      </a>
      <a href="/mylist" class="">My List</a>
      <a href="/logout" class="">Log out</a>
    </div>
    {% endif %}
  </header>

  <div class="container">

  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}

  {% endblock %}

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/app.js"></script>
</body>
</html>