{% extends 'base.html' %}
{% block content %}

<div class="profile-container">
    <h1>Hello {{g.user.username|upper}}</h1>
    <p>Thank you for using Cinemate. We are working to add more features to the website
        and to bring you a more user friendly experience.</p>
    <p>Soon we will launch a new update.</p>
    
    
    <div class="btn-container">
        <a href="/user/profile" class="bouton edit-btn">Edit Profile</a>
        <form method="POST" action="/user/delete">
            <button class="bouton delete-btn">Delete Profile</button>
        </form>
    </div>
</div>


{% endblock %}