{% extends 'base.html' %}

{% block content %}

<div class="formContainer">
    <form method="POST" id="user_form">
        <h2>Edit Your Profile</h2>
        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
    
        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <button class="save">Save</button>
        <a href="/user/{{ username }}" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>

{% endblock %}